# https://releases.llvm.org/16.0.0/tools/clang/docs/ClangFormatStyleOptions.html

BasedOnStyle:  LLVM

ColumnLimit:     120
# Only suitable for simple logics (getters etc).
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes

AlignEscapedNewlines: Left

IndentWidth:     4
InsertBraces:    true
InsertNewlineAtEOF: true
LineEnding:      CRLF
NamespaceIndentation: All
PointerAlignment: Left

# class foo {
# private:
#     int m;
# };
IndentAccessModifiers: false
AccessModifierOffset: -4

AllowShortCaseLabelsOnASingleLine: true